@model PagedList.IPagedList<DBTest.Models.product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@using (Html.BeginForm("Index", "products", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string ,new {placeHolder = "Enter item name"})
        <input placeholder="Enter product name:" class="btn btn-primary" type="submit" value="Search" />
        
        @Html.ActionLink("Create", "Create", null, new { @style = "color:blue;" }, new {@class = "btn btn-info"})

    </p>
}

@*<div style="margin:5px">
        <input type="text" id="filterinput" placeholder="Enter product name..." />
        <div class="btn btn-primary">
            @Html.ActionLink("Search", "Create", null, new { @style = "color:white;" })
        </div>
        <div class="btn btn-info">
            @Html.ActionLink("Create", "Create", null, new { @style = "color:white;" })
        </div>
    </div>*@

<table class="table">
    <tr>
        <th>

            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            @*@Html.DisplayNameFor(model => model.model_year)*@
        </th>
        <th>
            Price
            @*@Html.DisplayNameFor(model => model.list_price)*@
        </th>
        <th>
            Brand
            @*@Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.DateSortParm })*@
        </th>
        <th>
            Category
            @*@Html.DisplayNameFor(model => model.category.category_name)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.category_name)
            </td>
            <td>
                <div class="btn btn-primary">
                    @Html.ActionLink("Edit", "Edit", new { id = item.product_id }, new { @style = "color:white;" })
                </div>
                |
                <div class="btn btn-info">
                    @Html.ActionLink("Details", "Details", new { id = item.product_id }, new { @style = "color:white;" })
                </div>
                |
                <div class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @style = "color:white;" })
                </div>
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))